<% content_for :titulo_pagina do %>Contenido > Bloques<% end %>
<% content_for :titulo_bloque do %><%= link_to 'Contenido', contenido_index_path %> > Bloques<% end %>

<%= boton_enlace 'Nuevo bloque', new_contenido_bloque_path, icono: 'plus' %>

<% unless bloques.empty? %>
  <%= rejilla ['Titulo','Ubicación','Publicado','Estado','...'] do |r| %>
    <% bloques.each do |bloque| %>
      <%= r.fila [bloque.titulo, (bloque.ubicacion == 'der' ? 'Derecho' : 'Izquierdo'), bloque.fecha_publicado ? 'hace '+time_ago_in_words(bloque.fecha_publicado, include_seconds: true):'no', ( bloque.publicado ? 'publicado' : 'no publicado' ), link_to('Editar', edit_contenido_bloque_path(bloque._id))] %>
    <% end %>
  <% end %>
<% else %>
  <div style="text-align: center; font-weight: bold; margin: 10px">No se han encontrado bloques.</div>
<% end %>